services:
  ##################################
  # MongoDB Backing Service
  ##################################
  mongodb:
    image: mongo:7.0.5
    ports:
      - "127.0.0.1:27017:27017"
    healthcheck:
      test: echo "db.runCommand('ping')" | mongosh --port 27017 --quiet
      interval: 5s
      timeout: 30s
      start_period: 0s
      retries: 3
    command: ["--bind_ip_all", "--port", "27017"]
    profiles:
      - mongodb
      - configurator
      - configurator-api
      - playground

  ##################################
  # MongoDB Configurator Service - Mounts /input to $INPUT_FOLDER
  ##################################
  configurator_api:
    image: ghcr.io/agile-learning-institute/mongodb_configurator_api:latest
    restart: no
    ports:
      - "127.0.0.1:8081:8081"
    environment:
      MONGO_CONNECTION_STRING: mongodb://mongodb:27017/
      AUTO_PROCESS: False
      LOAD_TEST_DATA: True
      MONGO_DB_NAME: test_database
      API_PORT: 8081
      SPA_PORT: 8082
      MONGODB_REQUIRE_TLS: False
    volumes:
      - ${INPUT_FOLDER:-./tests/test_cases/playground}:/input
    depends_on:
      mongodb:
        condition: service_healthy
    profiles:
      - configurator-api
      - configurator

  configurator_spa:
    image: ghcr.io/agile-learning-institute/mongodb_configurator_spa:latest
    restart: no
    environment:
      API_HOST: configurator_api
      API_PORT: 8081
      SPA_PORT: 8082
    ports:
      - 8082:8082
    depends_on:
      - configurator_api
    profiles:
      - configurator

##################################
# MongoDB Configurator Playground - Uses container /input
##################################
  playground_api:
    image: ghcr.io/agile-learning-institute/mongodb_configurator_api:latest
    restart: no
    ports:
      - "127.0.0.1:8081:8081"
    environment:
      API_PORT: 8081
      SPA_PORT: 8082
      MONGODB_REQUIRE_TLS: False
    depends_on:
      mongodb:
        condition: service_healthy
    profiles:
      - playground

  playground_spa:
    image: ghcr.io/agile-learning-institute/mongodb_configurator_spa:latest
    restart: no
    environment:
      API_HOST: playground_api
      API_PORT: 8081
      SPA_PORT: 8082
    ports:
      - 8082:8082
    depends_on:
      - playground_api
    profiles:
      - playground
